nbproject
*.sublime-*
resources/local/**
resources/dbmigration/*.txt
modules/Visitor/Test/**
libraries/smarty.2620
libraries/adodb.510
surveyor.config
*.exe
config_local.php
httpdocs/flash/**
data/cache/**
data/cache/smarty/**
data/cache/application/**
data/logs/**
data/logs/jobs/**
data/watchdog/**
