body {
  margin:0;
  padding:0;
  font-family: "Arial", "sans-serif";
  line-height: 18px;
  font-size: 13px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 13px;
}
a span {
  cursor: pointer;
}

/* main blocks */
body {
  background-image: url(images/header_bg.png);
  background-repeat: repeat-x;
  background-color: #f0f0f0;
}
#wrap {
  width: 950px;
  margin: 0 auto;
}
.rightbox {
  float: right;
  width: 305px;
  margin-left: 20px;
  clear: right;
}
.leftbox {
  float: left;
  width: 313px;
}
.leftdoublebox {
  float: left;
  width: 625px;
}
.halfbox {
  width: 460px;
}
.inputtext {
  margin: 0;
  padding: 0;
  line-height: 15px;
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.hidden {
  display: none;
}
.required {
  color: red;
}

/* form */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
fieldset legend {
  padding: 5px 0px 5px 0px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
fieldset .legendsubtitle {
  margin: 0px 0px 15px 0px;
  display: block;
  border-bottom: 1px solid #cce2f1;
  padding-bottom: 10px;
}
.formoverflowframe {
  clear: both;
  height: 200px;
  white-space: nowrap;
  overflow: scroll;
}
.formrow {
  clear: both;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.formrow .element {
  vertical-align: middle;
  float: right;
}
.formrow .error {
  padding: 5px;
  float: left;
  margin-top: 10px;
  display: none;
}
.formrow .error span {
  float: left;
  margin-right: .3em;
}
.formrow .error p {
  margin-bottom: 0;
}
.selectmultiple {
  width: 260px;
}
.element input[type=text], .element input[type=password], .formrow .inputtext {
  width: 260px;
  padding: 6px 10px 3px 10px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #1f1f1f;
}
textarea {
  font-family: "Arial", "sans-serif";
  width: 260px;
  height: 80px;
  padding: 6px 10px 3px 10px;
  border: 1px solid #1f1f1f;
  float: left;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.submitbutton {
  float: right;
  width: 120px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

/* form help */
.help {
  color: #666;
}
.help.small {
  width: 305px;
}
.help h2 {
  font-weight: bold;
  margin-top: 20px;
}
.help.fullwidth {
  margin: 0;
  width: 950px;
  
}

/* record upload form */
#uploadrow .element {
  float: left;
  width: 580px;
}

/* swfupload */
.progresswrap {
  width: 570px;
  overflow: hidden;
  padding: 4px;
  border: solid 1px #E8E8E8;
  background-color: #F7F7F7;
}
.red /* Error */ {
  border: solid 1px #B50000;
  background-color: #FFEBEB;
}
.green /* Current */ {
  border: solid 1px #b9ceb9;
  background-color: #EBFFEB;
}
.blue /* Complete */ {
  border: solid 1px #CEE2F2;
  background-color: #F0F5FF;
}
.progressname {
  font-size: 8pt;
  font-weight: bold;
  color: #555555;
  float: left;
  width: 220px;
  height: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.progressspeed {
  font-size: 8pt;
  font-weight: bold;
  color: #555555;
  width: 70px;
  height: 14px;
  text-align: right;
  float: right;
  white-space: nowrap;
  overflow: hidden;
}
.progressbar {
  font-size: 0px;
  width: 0%;
  height: 2px;
  background-color: blue;
  margin-top: 2px;
}
.progresscomplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
.progresserror {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.progressstatus {
  margin-top: 2px;
  width: 200px;
  font-size: 7pt;
  font-family: Verdana;
  text-align: left;
  float: left;
}
.progresstime {
  font-size: 7pt;
  font-family: Verdana;
  margin-top: 2px;
  width: 90px;
  float: right;
  text-align: right;
}

/* browser alert bar */
#browserAlert {
  display: block;
  clear: both;
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 20px;
  background: #FFEEDD url(images/smallwarning2.gif) 5px 5px no-repeat;
  padding: 4px 4px 4px 22px;
  border-bottom: 1px solid #999;
  font-size: 12px;
  color:#666;
  font-family: Verdana;
}
#browserAlert span {
  text-decoration: underline;
}

/* message bubble */
#systemmessage {
  background-color: #21abf0;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  float: left;
  width: 910px;
  clear: both;
  margin: 0px 0px 20px 0px;
}
#systemmessageclose {
  float: right;
  padding-left: 10px;
  margin-top: 2px;
}
#systemmessageclose a {
  float: left;
  width: 14px;
  height: 14px;
  background-image: url(images/cross.png);
}

/* header */
#header {
  clear: both;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
#header a {
  color: #21abf0;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#headerlogo {
  height: 58px;
}
#headerlogo a, #headerlogo a span {
  display: inline-block;
  width:  180px;
  overflow: hidden;
  height: 43px;
}
#headerlogo a span {
  background-image: url(images/header_logo.png);
}
#headerlogin {
  margin-top: 20px;
  text-align: right;
}
#headerlogin .inputtext {
  width: 100px;
  margin: 0px 8px 0px 0px;
}
#headerlogin .submit {
  width: 70px;
}
#headermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#headermenu li {
  display: inline-block;
}
#headermenu li.active a {
  background-image: url(images/header_menu_arrow.png);
  background-repeat: no-repeat;
  background-position: 50% bottom;
}
#headermenu a {
  display: inline-block;
  height: 50px;
  padding: 20px 10px 0px 10px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 30px;
}
#headersearch {
  position: relative;
  margin: 20px 0px 0px 20px;
}
#headersearch .inputtext {
  width: 265px;
  height: 26px;
  padding-left: 35px;
}
#headersearchsubmit {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* body */
#body {
  clear: both;
  float: left;
  width: 100%;
}
#body div.title {
  clear: both;
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 10px;
}

/* footer */
#footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 1px solid #d8d8d8;
  padding-top: 25px;
  margin: 20px 0px 20px 0px;
}
#footerlogo {
  float: right;
}
#footer .footercontent h4 {
  margin: 0;
  padding: 0;
}
#footer .footerlinks {
  margin: 0px 0px 15px 0px;
  padding: 0;
  list-style-type: none;
}

/* timeline */
.timeline {
  width: 950px;
  border: 1px solid #1f1f1f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  clear: both;
  height: 40px;
  text-align: center;
}
.timeline ul {
  height: 40px;
  float: left;
  margin: 0 0 0 120px;
  list-style-type: none;
}
.timeline.live ul {
  margin-left: 340px;
}
.timeline li {
  height: 40px;
  float: left;
  background-image: url(images/timeline_bg_inactiveright.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.timeline li a {
  padding: 12px 10px 10px 60px;
  float: left;
  background-image: url(images/timeline_ok.png);
  background-repeat: no-repeat;
  background-position: 33px 12px;
  font-weight: bold;
  font-size: 15px;
}
.timeline li.active {
  background-color: #1f1f1f;
  background-image: url(images/timeline_bg_activeleft.png);
}
.timeline li.active a {
  background-image: url(images/timeline_x_active.png);
}
.timeline li.active + li {
  background-image: url(images/timeline_bg_activeright.png);
}
.timeline li.active + li a, .timeline li.active + li + li a, .timeline li.active + li + li + li a, .timeline li.active + li + li + li + li a {
  background-image: url(images/timeline_x.png);
}
.timeline li.last {
  display: inline-block;
  width: 20px;
}
.timeline li.active a {
  color: #fff;
}

/* pager */
.widepager {
  width: 950px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #1f1f1f;
  padding: 6px 0px 8px 0px;
  clear: both;
  z-index: 100;
}
.widepager form {
  display: inline;
  margin-left: 150px;
}
.widepager li {
  float: none;
  display: inline;
}
.widepager li a, .widepager .currentpage {
  padding: 3px 14px 3px 14px;
}
.widepager li a:hover {
  background-color: #1f1f1f;
  color: white;
  text-decoration: none;
}
.currentpage {
  background-color: #1f1f1f;
  color: white;
}
.widepager .previous {
  position: absolute;
  left: 0px;
  padding-left: 0;
  margin-right: 30px;
}
.widepager .previous:hover, .widepager .next:hover {
  background: none;
  text-decoration: underline;
}
.widepager .next {
  position: absolute;
  right: 0px;
  padding-right: 0;
  margin-left: 30px;
}
.recordview .widepager {
  width: 550px;
}
