.submitbutton,
a#currentusername {
  behavior: url(/css/PIE.htc);
}

.recordinglist .recordinginfo .timestamp,
.recordinglist .recordinginfo .views {
  margin: 0 5px;
}

.accordion {
  background-position-y: 18px;
  background-position-x: 955px;
}
