body {
  margin:0;
  padding:0;
  font-family: "Arial", "sans-serif";
  line-height: 18px;
  font-size: 13px;
  color: #333;
}
h1 {
  font-size: 20px;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
}
h3 {
  font-size: 15px;
  font-weight: normal;
}
h4 {
  font-size: 13px;
  font-weight: normal;
}
a span {
  cursor: pointer;
}
a {
  color: #1e97d4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}

/* main blocks */
body {
  background-color: #ebebeb;
}
#pagecontainer {
  clear: both;
}
#wrap {
  width: 950px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.rightbox {
  float: right;
  width: 305px;
  margin-left: 20px;
  clear: right;
}
.leftbox {
  float: left;
  width: 313px;
}
.leftdoublebox {
  float: left;
  width: 625px;
}
.halfbox {
  width: 460px;
}
.inputtext {
  margin: 0;
  padding: 0;
  line-height: 15px;
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.ellipsize {
  text-overflow: ellipsis;
  overflow: hidden;
}
.hidden {
  display: none;
}
.required {
  color: red;
}

/* form */
.formerrors ul {
  padding-left: 0px;
  margin: 10px 0 15px 0;
  font-weight: bold;
  color: red;
}
.form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.form fieldset legend {
  padding: 5px 0px 5px 0px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.form fieldset .legendsubtitle {
  margin: 0px 0px 15px 0px;
  display: block;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 10px;
}
.formoverflowframe {
  clear: both;
  max-height: 200px;
  white-space: nowrap;
  overflow: auto;
}
.formtable {
  border-collapse: collapse;
  width: 100%;
  border: 0;
}
.formtable td {
  padding: 5px 5px 10px 5px;
}
.formtable td.labelcolumn {
  min-width: 150px;
}
.formtable td.elementcolumn {
  vertical-align: middle;
}
.form .error {
  padding: 5px;
  margin-top: 10px;
  display: none;
}
.form .error span {
  margin-right: .3em;
}
.form .error p {
  margin-bottom: 0;
}
.selectmultiple {
  width: 260px;
}
.elementcolumn input[type=text], .elementcolumn input[type=password], .form .inputtext {
  width: 260px;
  height: 29px;
  line-height: 29px;
  padding: 0px 10px 0px 10px;
}
textarea {
  font-family: "Arial", "sans-serif";
  width: 260px;
  height: 80px;
  padding: 6px 10px 3px 10px;
  font-size: 13px;
}
.inputbackground, .form textarea, .form input[type=text], .form input[type=password], .form .inputtext {
  box-shadow: 0px 1px 2px rgb(255, 255, 255), inset 0px 1px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 2px rgb(255, 255, 255), inset 0px 1px 4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 1px 2px rgb(255, 255, 255), inset 0px 1px 4px rgba(0, 0, 0, 0.16);
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
.inputbackground:focus, .form textarea:focus, .form input[type=text]:focus, .form input[type=password]:focus, .form .inputtext:focus {
  border: 1px solid #21abf0;
}
.form tr.buttonrow td {
  text-align: right;
}
.form .submitbutton {
  width: 120px;
}
.form .submitbutton, .submitbutton {
  display: inline-block;
  height: 30px;
  line-height: 15px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.98);
  background-color: #f5f5f5;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(255, 255, 255, 1);
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -pie-background: linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -o-linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), color-stop(0.48, #efefef), color-stop(0.52, #e5e5e5), to(#dbdbdb));
  background: linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
}
.form .submitbutton:active, .submitbutton:active {
  -pie-background: linear-gradient(top, #dbdbdb 0%, #e5e5e5 48%, #efefef 52%, #f5f5f5);
  background: -o-linear-gradient(top, #dbdbdb 0%, #e5e5e5 48%, #efefef 52%, #f5f5f5);
  background: -moz-linear-gradient(top, #dbdbdb 0%, #e5e5e5 48%, #efefef 52%, #f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(0.48, #e5e5e5), color-stop(0.52, #efefef), to(#f5f5f5));
  background: linear-gradient(top, #dbdbdb 0%, #e5e5e5 48%, #efefef 52%, #f5f5f5);
}
a.submitbutton {
  width: auto;
  padding: 6px 10px 5px 10px;
  height: 17px;
  color: #5a5a5a;
  font-weight: bold;
  text-decoration: none;
}
a.submitbutton:hover {
  text-decoration: none;
}
.form.leftdoublebox .selectmultiple,
.form.leftdoublebox .elementcolumn input[type=text], .form.leftdoublebox .elementcolumn input[type=password], .form.leftdoublebox .inputtext,
.form.leftdoublebox textarea { /*+165*/
  width: 425px;
}

.smallinfo {
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: 0px 7px;
  font-size: 11px;
  padding: 6px 0px 0px 20px;
  clear: both;
}

/* form help */
.help {
  color: #666;
  margin-top: 10px;
}
.help.small {
  width: 305px;
}
.help h2 {
  font-weight: bold;
  margin-top: 20px;
}
.help.fullwidth {
  margin: 0;
  width: 950px;
  
}

/* record upload form */
#uploadrow .element {
  float: left;
  width: 580px;
}
.changeindexphotoitem {
  display: inline-block;
}

/* swfupload */
.progresswrap {
  width: 570px;
  overflow: hidden;
  padding: 4px;
  border: solid 1px #E8E8E8;
  background-color: #F7F7F7;
}
.red /* Error */ {
  border: solid 1px #B50000;
  background-color: #FFEBEB;
}
.green /* Current */ {
  border: solid 1px #b9ceb9;
  background-color: #EBFFEB;
}
.blue /* Complete */ {
  border: solid 1px #CEE2F2;
  background-color: #F0F5FF;
}
.progressname {
  font-size: 8pt;
  font-weight: bold;
  color: #555555;
  float: left;
  width: 220px;
  height: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.progressspeed {
  font-size: 8pt;
  font-weight: bold;
  color: #555555;
  width: 70px;
  height: 14px;
  text-align: right;
  float: right;
  white-space: nowrap;
  overflow: hidden;
}
.progressbar {
  font-size: 0px;
  width: 0%;
  height: 2px;
  background-color: blue;
  margin-top: 2px;
}
.progresscomplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
.progresserror {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.progressstatus {
  margin-top: 2px;
  width: 200px;
  font-size: 7pt;
  font-family: Verdana;
  text-align: left;
  float: left;
}
.progresstime {
  font-size: 7pt;
  font-family: Verdana;
  margin-top: 2px;
  width: 150px;
  float: right;
  text-align: right;
}

/* browser alert bar */
#browserAlert {
  display: block;
  clear: both;
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 20px;
  background: #FFEEDD url(images/smallwarning2.gif) 5px 5px no-repeat;
  padding: 4px 4px 4px 22px;
  border-bottom: 1px solid #999;
  font-size: 12px;
  color:#666;
  font-family: Verdana;
}
#browserAlert span {
  text-decoration: underline;
}

/* message bubble */
#systemmessage {
  background-color: #21abf0;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  width: 910px;
  clear: both;
  margin: 0px 0px 20px 0px;
}
#systemmessageclose {
  float: right;
  padding-left: 10px;
  margin-top: 2px;
}
#systemmessageclose a {
  float: left;
  width: 14px;
  height: 14px;
  background-image: url(images/cross.png);
}

/* header */
#headerbg {
  float: left;
  width: 100%;
  min-width: 950px;
  background-image: url(images/bg_dotted.png), url(images/header_bg.jpg);
  background-position: 50% top;
  /*background-color: #2e2e33;*/
  height: 109px;
  margin-bottom: -109px;
  z-index: 1;
  position: absolute;
  left: 0;
}
#header {
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}
#headertop {
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #1a1a1b;
  clear: both;
}
#headerbottom {
  width: 100%;
  height: 48px;
  border-top: 1px solid #4b4b4f;
  clear: both;
}
#header a {
  color: #21abf0;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#header .inputbackground {
  background-color: #28282b;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 7px #000000;
  -webkit-box-shadow: inset 0 0 7px #000000;
  box-shadow: inset 0 0 7px #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #353539;
  background-clip: padding-box;
  outline: none;
}
#header .inputbackground:focus {
  border-color: #21abf0;
}
#header .submitbutton {
  height: 25px;
  width: 70px;
  line-height: 23px;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 0px 3px;
  padding: 0px 10px 2px 10px;
  color: #21abf0;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: middle;
  background-color: #363636;
  border: 1px solid #000;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -pie-background: linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -o-linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -moz-linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), color-stop(0.47, #313131), color-stop(0.50, #2b2b2b), to(#2d2d32));
  background: linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  box-shadow: 0px 1px 3px rgb(0, 0, 0), inset 0px 1px 1px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: 0px 1px 3px rgb(0, 0, 0), inset 0px 1px 1px rgba(255, 255, 255, 0.53);
  -webkit-box-shadow: 0px 1px 3px rgb(0, 0, 0), inset 0px 1px 1px rgba(255, 255, 255, 0.23);
}
#header .submitbutton:active {
  -pie-background: linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -o-linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -moz-linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
  background: -webkit-gradient(linear, left top, left bottom, from(#2d2d32), color-stop(0.47, #2b2b2b), color-stop(0.50, #313131), to(#3d3d3d));
  background: linear-gradient(top, #3d3d3d 0%, #313131 47%, #2b2b2b 50%, #2d2d32);
}
/* headerlogo */
#headerlogo {
  height: 58px;
  padding-left: 13px;
}
#headerlogo a, #headerlogo a span {
  display: inline-block;
  width:  150px;
  overflow: hidden;
  height: 55px;
}
#headerlogo a span {
  background-image: url(images/header_logo.png);
}

/* avatar */
.imageinfo .avatar img, #headertop .avatar img {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.48);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.48);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.48);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
}
/* headerlogin */
#headerlogin {
  margin-top: 5px;
  text-align: right;
  width: auto;
}
#headerloginactions {
  color: #999;
  margin-top: 10px;
}
#headerloginform {
  margin-top: 10px;
}
#headerlogin .inputtext {
  width: 90px;
  padding: 0px 5px 0px 5px;
  margin: 0px 8px 0px 0px;
  color: #aaa;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  position: relative;
  top: 3px;
}
#currentuser {
  white-space: nowrap;
  padding: 5px 0px 0px 5px;
}
#currentuser .avatar {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  z-index: 500;
}
#currentusercontent {
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  display: inline-block;
}
a#currentusername {
  display: inline-block;
  height: 28px;
  width: 110px;
  line-height: 28px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin: 1px;
  padding: 0px 50px 0px 15px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: middle;
  background-color: #363636;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -pie-background: linear-gradient(top, rgb(96,96,97) 0%, rgb(68,68,69) 50%, rgb(56,56,57) 55%, rgb(51,51,51) );
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.03) 55%, rgba(255, 255, 255, 0) );
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.03) 55%, rgba(255, 255, 255, 0) );
  background: -webkit-gradient(linear, left top, left bottom, from( rgba(255, 255, 255, 0.16) ), color-stop(0.50, rgba(255, 255, 255, 0.10) ), color-stop(0.55, rgba(255, 255, 255, 0.03) ), to( rgba(255, 255, 255, 0) ));
  background: linear-gradient(top, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.10) 50%, rgba(255, 255, 255, 0.03) 55%, rgba(255, 255, 255, 0) );
  0.16) ), color-stop(0.50, rgba(255, 255, 255, 0.10) ), color-stop(0.55, rgba(255, 255, 255, 0.03) ), to( rgba(255, 255, 255, 0) ));
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
a#currentusername:hover {
  text-decoration: none;
}
a#currentusername span {
  display: inline-block;
  position: absolute;
  right: 0px;
  height: 29px;
  width: 38px;
  background-image: url(images/login_arrow.png);
}
#currentuser.active #currentusername {
  margin: 0;
  background: #232323;
  border: 2px solid #21abf0;
  box-shadow: 0px 1px 1px #484848, inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px 1px 1px #484848, inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 1px 1px #484848, inset 0px 1px 1px rgba(255, 255, 255, 0.1);
}
#currentuser.active #currentusermenu {
  display: block;
}
#currentusermenu {
  display: none;
  margin-top: 1px;
  text-align: left;
  width: auto;
  overflow: hidden;
  position: absolute;
  right: -5px;
  top: -8px;
  background-color: #333333;
  background-color: rgba(51,51,51,0.9);
  border: 1px solid #1f1f1f;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 499;
}
#currentusermenu .column {
  float: left;
  padding-top: 15px;
  width: 240px;
  height: 100%;
  vertical-align: top;
  border-right: 1px solid #333;
  -moz-box-shadow: 1px 0px 1px #585858;
  -webkit-box-shadow: 1px 0px 1px #585858;
  box-shadow: 1px 0px 1px #585858;
  overflow: hidden;
}
#currentusermenu .column.last {
  padding: 0;
  border: 0;
  box-shadow: none;
}
#currentusermenu .column.last .placeholder {
  width: 240px;
  height: 45px;
  border-bottom: 1px solid #333;
  -moz-box-shadow: 0px 1px 1px #585858;
  -webkit-box-shadow: 0px 1px 1px #585858;
  box-shadow: 0px 1px 1px #585858;
  margin-bottom: 5px;
}
#currentusermenu .title {
  color: #999;
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  padding-left: 20px;
}
#currentusermenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#currentusermenu .title, #currentusermenu li {
  margin-bottom: 5px;
}
#currentusermenu li {
  margin-left: 1px;
}
#currentusermenu .column.first li {
  margin-left: 0px;
}
#currentusermenu li:hover {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.75);
}
#currentusermenu li a {
  padding: 2px 0px 3px 20px;
  color: #ccc;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#currentusermenu li:hover a {
  color: #fff;
  text-decoration: none;
  background-image: url(images/arrow_right_white.png);
  background-repeat: no-repeat;
  background-position: 4px 50%;
}
#currentusermenu .hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #333;
  border-bottom: 1px solid #585858;
  margin-bottom: 5px;
}
/* headermenu */
#headermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#headermenu li {
  display: inline-block;
}
#headermenu li.active a {
  background-image: url(images/header_menu_arrow.png);
  background-repeat: no-repeat;
  background-position: 50% bottom;
}
#headermenu.black li.active a {
  background-image: url(images/header_menu_arrow_black.png);
}
#headermenu a {
  display: inline-block;
  height: 38px;
  padding: 11px 10px 0px 10px;
  font-size: 16px;
  font-weight: bold;
}
#headermenu a:hover {
  color: #fff;
  text-decoration: none;
}
/* headersearch */
#headersearchlink {
  display: none;
}
#headersearch {
  position: relative;
  margin: 7px 0px 0px 20px;
}
#headersearch form {
  display: inline-block;
}
#headersearcharrow {
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 185px;
  width: 25px;
  height: 18px;
  border-left: 1px solid #010101;
  background-image: url(images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 5px 4px;
}

#languageselector {
  width: 81px;
  height: 26px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 298;
}
#languageselector.active {
  height: auto;
  background-color: #272729;
}
#languageselector a {
  font-weight: bold;
  color: #666;
  display: block;
  padding: 4px 20px 3px 35px;
  background-repeat: no-repeat;
  background-position: 5px 1px;
  position: relative;
  outline: none;
}
#languageselector a:hover {
  color: #ccc;
  text-decoration: none;
}
#languageselector a.active span {
  position: absolute;
  display: inline-block;
  height: 13px;
  width: 13px;
  right: 6px;
  top: 8px;
  background-image: url(images/arrow_down.png);
}
#languageselector a.hu {
  background-image: url(images/flags/hu.png);
}
#languageselector a.de {
  background-image: url(images/flags/de.png);
}
#languageselector a.en {
  background-image: url(images/flags/uk.png);
}
#languages {
  width: 100%;
  display: none;
  padding-bottom: 2px;
}
#languageselector.active #languages {
  display: inline-block;
  
}
#headersearch .inputtext {
  width: 140px;
  height: 26px;
  padding: 0px 35px 0px 35px;
  color: #888;
  font-size: 13px;
  line-height: 26px;
}
#headersearch .inputtext:hover,  
#headersearch .inputtext:focus {
  color: #ccc;
}
#headersearchsubmit {
  width: 35px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0;
}

/* body */
#body {
  clear: both;
  width: 100%;
}
#body div.title {
  clear: both;
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 10px;
  padding: 10px 0px 0px 0px;
}
#body div.title a {
  display: block;
}
#body div.title.recording {
  padding-top: 0px;
  color: #999;
  border: 0;
}
#body div.title.recording h2 {
  font-size: 13px;
}
#body div.title .actions {
  float: right;
}
#body div.title .actions a {
  display: inline-block;
}

/* footer */
#footerbg {
  float: left;
  width: 100%;
  min-width: 950px;
  background-image: url(images/bg_dotted.png), url(images/footer_bg.jpg);
  background-position: 50% top;
  /*background-color: #2e2e33;*/
  height: 180px;
  margin-top: -180px;
  z-index: 1;
  position: absolute;
  left: 0;
}
#footer {
  clear: both;
  height: 155px;
  width: 100%;
  padding-top: 25px;
  margin: 20px 0px 0px 0px;
}
#footerlogo {
  float: right;
}
#footer .footercontent h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  padding: 0;
  color: #cccccc;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
#footer .footerlinks {
  margin: 0px 0px 8px 0px;
  padding: 0;
  list-style-type: none;
}
#footer .footerlinks li {
  margin-bottom: 2px;
  font-size: 12px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
#footer .hr {
  background-color: #171718;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 1px;
  clear: both;
}
#footer .bottom {
  color: #666;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
  font-size: 12px;
  margin-top: 8px;
}
#footer .bottom a {
  color: #666;
}

/* timeline */
.timeline {
  width: 950px;
  border: 1px solid #bdcad1;
  margin-bottom: 20px;
  clear: both;
  height: 40px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 1px 0px #fff, inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 1px 0px #fff, inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 0px #fff;
  
}
.timeline ul {
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timeline li {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.timeline li a {
  padding: 12px 10px 10px 10px;
  display: block;
  background: #cad8df;
  font-weight: bold;
  font-size: 15px;
  color: #648190;
  text-shadow: 0px 1px 0px #fff;
}
.timeline li:nth-child(n+2) a {
  background: url(images/timeline_bg_inactiveright.png) left no-repeat, #cad8df;
}
.timeline li.active a {
  color: #29617e;
  -pie-background: url(images/timeline_bg_activeleft.png) left no-repeat, linear-gradient(left, #b4d2e1, #78c2e7);
  background: url(images/timeline_bg_activeleft.png) left no-repeat, -moz-linear-gradient(left, #b4d2e1, #78c2e7);
  background: url(images/timeline_bg_activeleft.png) left no-repeat, -o-linear-gradientleftt, #b4d2e1, #78c2e7);
  background: url(images/timeline_bg_activeleft.png) left no-repeat, -webkit-linear-gradient(left, #b4d2e1, #78c2e7);
  background: url(images/timeline_bg_activeleft.png) left no-repeat, linear-gradient(left, #b4d2e1, #78c2e7);
}
.timeline li:nth-child(1).active a {
  -pie-background: linear-gradient(left, #b4d2e1, #78c2e7);
  background: -moz-linear-gradient(left, #b4d2e1, #78c2e7);
  background: -o-linear-gradientleftt, #b4d2e1, #78c2e7);
  background: -webkit-linear-gradient(left, #b4d2e1, #78c2e7);
  background: linear-gradient(left, #b4d2e1, #78c2e7);
}
.timeline li.active + li {
  background-image: url(images/timeline_bg_activeright.png);
}
.timeline li.active + li a, .timeline li.active + li + li a, .timeline li.active + li + li + li a, .timeline li.active + li + li + li + li a {
  background-color: transparent;
  color: #666;
}
.timeline li.last {
  width: 20px;
}

/* pager */
.widepager {
  width: 950px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #a5a5a5;
  padding: 6px 0px 8px 0px;
  clear: both;
  z-index: 100;
}
.widepager .divider {
  color: #858585;
}
.widepager form {
  display: inline;
  margin-left: 150px;
}
.widepager ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.widepager li {
  float: none;
  display: inline-block;
}
.widepager li a, .widepager .currentpage {
  display: inline-block;
  padding: 3px 14px 3px 14px;
  font-weight: bold;
}
.widepager li a:hover {
  color: #585858;
  text-decoration: none;
}
.currentpage {
  color: #585858;
}
.widepager .previous {
  position: absolute;
  left: 0px;
  top: 6px;
  padding-left: 20px;
  margin-right: 30px;
  background-image: url(images/arrow_left.png);
  background-repeat: no-repeat;
  background-position: left 50%;
}
.widepager .previous:hover, .widepager .next:hover {
  text-decoration: underline;
  color: #1e97d4;
}
.widepager .next {
  position: absolute;
  right: 0px;
  top: 6px;
  padding-right: 20px;
  margin-left: 30px;
  background-image: url(images/arrow_right.png);
  background-repeat: no-repeat;
  background-position: right 50%;
}
.recordview .widepager {
  width: 550px;
}

/* categories list */
.categorylist {
  margin: 20px 0px 0px 0px;
  padding: 0;
  list-style-type: none;
}
.categorylist li {
  display: inline-block;
  vertical-align: top;
}
.categorylist li {
  width: 140px;
  padding: 0px 10px 0px 0px;
  margin-right: 10px;
}
.categorylist li.last {
  margin-right: 0px;
}
.categorylist .categoryname {
  margin-bottom: 20px;
  float: left;
}
.categorylist .categoryname h2 {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.categorylist .categoryname .numberofrecordings {
  text-align: right;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.categorylist .subcategorylist {
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
}
.categorylist .subcategorylist h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.categorylist .categorypic {
  width: 140px;
  display: block;
  text-align: center;
  vertical-align: middle;
}

/* myrecordings search */
#myrecordingsquicksearch {
  clear: both;
  margin: 5px 0px 5px 0px;
  float: left;
  width: 950px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #a5a5a5;
}
#myrecordingsquicksearch .textwrap, #myrecordingsquicksearch .submitwrap {
  float: left;
}
#myrecordingsquicksearch .selectwrap .elem {
  margin-right: 20px;
  float: left;
}
#myrecordingsquicksearch .textwrap {
  float: left;
  margin-right: 20px;
}
#myrecordingsquicksearch .textwrap input {
  width: 150px;
}
#myrecordingsquicksearch .submitwrap {
  position: relative;
  top: -2px;
}
#myrecordingsquicksearch .selectwrap select {
  width: 100px;
}

/* sorter */
.sort {
  position: relative;
  height: 35px;
  z-index: 200;
  text-align: right;
  clear: both;
}
.sort .item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #999;
  line-height: 15px;
  height: 30px;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.98);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 2px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 2px rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 2px rgba(255, 255, 255, 1);
  -pie-background: linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -o-linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), color-stop(0.48, #efefef), color-stop(0.52, #e5e5e5), to(#dbdbdb));
  background: linear-gradient(top, #f5f5f5 0%, #efefef 48%, #e5e5e5 52%, #dbdbdb);
}
.sort .item a {
  display: block;
  color: #5a5a5a;
  text-decoration: none;
  padding: 6px 10px 7px 10px;
}
.sort .item a img {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.sort .item ul {
  position: relative;
  z-index: -1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sort .item:hover, .sort .item.hover {
  height: auto;
  background: none;
  background-color: #f5f5f5;
}
.sort .item .title {
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
}
.sort .item:hover .title, .sort .item.hover .title {
  border-bottom: 1px solid #000;
}
.sort .item:hover ul, .sort .item.hover ul {
  z-index: auto;
  display: block;
}
.sort .item a:hover, .sort .item.hover a {
  text-decoration: none;
}

/* recordinglist */
.recordinglist {
  width: 950px;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.recordinglist .jobgrouplist {
  clear: both;
  display: block;
}
.recordinglist .listitem {
  width: 950px;
  display: inline-block;
  border-bottom: 1px solid #a5a5a5;
  -moz-box-shadow: 0 1px 0 #f5f5f5;
  -webkit-box-shadow: 0 1px 0 #f5f5f5;
  box-shadow: 0 1px 0 #f5f5f5;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 20px 0px;
}
.recordinglist {
  text-shadow: 0px 1px 0px #fff;
}
#body .recordinglist .title {
  border: 0;
  padding-top: 0px;
}
.recordinglist .title h3 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.recordinglist .title h3 a {
  color: #000;
  display: block;
}
.recordinglist .title h4 {
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: normal;
  font-size: 13px;
  font-style: italic;
}
.recordinglist .recordingpic {
  float: left;
  height: 100%;
}
.recordinglist .recordingpic img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 192px;
}
.recordinglist .recordingpic .playpic, #relatedvideos a .playpic {
  float: left;
  width: 85px;
  height: 44px;
  margin-bottom: -44px;
  margin-right: -85px;
  position: relative;
  top: 60px;
  left: 100px;
  background-image: url(images/playbutton.png);
  display: inline;
}
#relatedvideos a .playpic {
  top: 93px;
  left: 211px;
}
.recordinglist .recordingcontent {
  float: left;
  margin-left: 20px;
  width: 738px;
}
.recordinglist .recordinginfo {
  margin-top: 5px;
}
.recordinglist .recordinginfo ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.recordinglist .recordinginfo li {
  display: inline-block;
  vertical-align: top;
  color: #666;
  padding: 0px 8px 0px 2px;
  font-size: 12px;
  background-image: url(images/recordinginfo_border.png);
  background-repeat: no-repeat;
  background-position: right 3px;
}
.recordinglist .recordinginfo li.timestamp span {
  background-image: url(images/recordinginfo_timestamp.png);
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 3px 0px 0px;
  position: relative;
  top: 1px;
}
.recordinglist .recordinginfo li.last {
  background-image: none;
}
.recordinglist .recordingactions li {
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.recordinglist .recordingevents ul li {
  width: 100%;
  
}
.recordinglist .recordingactions a {
  font-weight: bold;
}
.recordinglist .recordingactions ul {
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.recordinglist .recordingactions li {
  width: auto !important;
}
.recordinglist .recordingelements {
  padding-right: 15px;
}
.recordinglist .recordingattachments .actions {
  margin-left: 5px;
}
.recordinglist .recordingslides {
  width: 100%;
  clear: both;
}
.recordinglist .recordingslides a:hover {
  text-decoration: none;
}
.recordinglist .recordingslides .slide {
  float: left;
  margin: 5px 15px 5px 0px;
  text-align: right;
  width: 100px;
}
.recordinglist .recordingslides span {
  padding-right: 3px;
}

/* treeadminlist */
.treeadminlist {
  margin: 10px 0px 10px 0px;
  padding: 0;
  list-style-type: none;
}
.treeadminlist .listingitem {
  border-bottom: 1px solid #a5a5a5;
  margin: 10px 0px 10px 0px;
  padding-bottom: 5px;
}
.treeadminlist .actions {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.treeadminlist .row:hover .actions {
  display: inline-block;
}
.treeadminlist .actions li {
  display: inline-block;
  margin-right: 15px;
}
.treeadminlist.children {
  margin: 2px 0px 2px 20px;
}
.treeadminlist.children .listingitem {
  border: 0;
  margin: 0;
  padding: 0;
}
.treeadminlist h3 {
  font-size: 18px;
  display: inline-block;
  margin: 0px 15px 3px 0px;
  padding: 0;
}
.treeadminlist h3 a {
  color: #333;
}
.treeadminlist h3 a:hover {
  text-decoration: none;
}
.treeadminlist.children h3 {
  font-weight: normal;
  font-size: 13px;
}

#playercontainer {
  width: 950px;
  height: 530px;
}

/* indexcontainer */
#indexcontainer {
  background-color: rgba(255, 255, 255, 0.2);
  float: left;
  padding: 5px 4px 5px 6px;
  margin: 0px -4px 0px -6px;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 3px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 3px rgba(0, 0, 0, 0.41);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 3px rgba(0, 0, 0, 0.41);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#indexcontainer .leftdoublebox {
  height: 348px;
}
#indexcontainer .rightbox .imageinfo.first {
  margin-bottom: 11px;
}
#indexcontainer .rightbox .imageinfo {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* newslist */
.newslist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.newslist h2 {
  overflow: hidden;
}
.newslist .listingitem h2 a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}
.newslist .listingitem h2 .subtitle {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
.newslist .more {
  padding-right: 15px;
  background-image: url(images/arrow_right.png);
  background-repeat: no-repeat;
  background-position: right 4px;
}
.newslist .listingitem {
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 10px;
}
.newslist .listingitem.last {
  border-bottom: 0px;
  box-shadow: none;
}

/* imageinfo */
.wlarge {
  width: 618px;
  height: 348px;
}
.wwide {
  width: 300px;
  height: 168px;
}
.imageinfo {
  position: relative;
  display: block;
}
.imageinfo, .imageinfo img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.imageinfo:hover {
  text-decoration: none;
}
.imageinfo .playpic {
  width: 122px;
  height: 88px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(images/playbutton_large.png);
  margin: -44px 0px 0px -61px;
}
.imageinfo .imageinfowrap {
  height: 67px;
  width: 100%;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.imageinfo .imageinfowrap .avatar {
  float: left;
  height: 52px;
  width: 58px;
  padding: 15px 0px 0px 12px;
}
.imageinfo .imageinfowrap .content h1, .imageinfo .imageinfowrap .content h2 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
}
.imageinfo .imageinfowrap .content h1 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin: 15px 0px 3px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imageinfo .imageinfowrap .content h2 {
  font-size: 12px;
  color: #ccc;
  font-weight: normal;
  margin: 0;
}

/* recording metadata */
#pagebg {
  position: absolute;
  z-index: 1;
  top: 108px;
  width: 100%;
  height: 590px;
  background-color: #050505;
  background-image: -webkit-linear-gradient(top, #050505 20%, #171717 60%);
  background-image: -moz-linear-gradient(top, #050505 20%, #171717 60%);
  background-image: -ms-linear-gradient(top, #050505 20%, #171717 60%);
  background-image: -o-linear-gradient(top, #050505 20%, #171717 60%);
  background-image: linear-gradient(top, #050505 20%, #171717 60%);
}
#metadata {
  margin: 20px 20px 0px 0px;
  float: left;
  width: 590px;
}
#metadata h3, #metadatatable .labelcolumn {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#metadata .ratewidget h3 {
  margin: 0 0 0 1px;
}
.recordinginfo .rating {
  margin-top: -2px;
}
#metadatatable {
  display: none;
}
#metadatatable .labelcolumn {
  padding-right: 30px;
}
#metadata #infotoggle {
  position: relative;
  text-align: center;
}
#metadata #infotoggle ul {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 25px;
  right: 0px;
}
#metadata #infotoggle li {
  display: inline-block;
}
#metadata #infotoggle ul a, #metadata #infotoggle ul a span {
  display: block;
  overflow: hidden;
  width: 45px;
  height: 31px;
}
#metadata #infotoggle li#embedlink a span {
  background-image: url(images/icon_player_embed.png);
}
#metadata #infotoggle a {
  font-weight: bold;
  display: block;
}
#metadata #infotoggle div {
  position: absolute;
  z-index: -10;
  bottom: 18px;
  height: 40px;
}
#metadata #infotoggle .leftside {
  background: -webkit-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: -moz-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: -o-radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: radial-gradient(bottom right, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  width: 80px;
  left: 0px;
}
#metadata #infotoggle .center {
  background: -webkit-linear-gradient(bottom,rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 40px, transparent 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 40px, transparent 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 40px, transparent 100%);
  background: linear-gradient(bottom,rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 40px, transparent 100%);
  top: -40px;
  margin: 0px 80px 0px 80px;
  width: 430px;
}
#metadata #infotoggle .rightside {
  background: -webkit-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: -moz-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: -o-radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  background: radial-gradient(bottom left, circle, rgba(0, 0, 0, 0.08), transparent 40px, transparent 100%);
  width: 80px;
  right: 0px;
}
#metadata .attachments ul {
  margin: 0;
  padding-left: 20px;
}
/* recommendatory */
#recommendatory {
  width: 340px;
  float: right;
}
#recommendatory h2 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
#recommendatory ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#recommendatory li {
  display: inline-block;
  width: 340px;
  height: 95px;
  margin-bottom: 15px;
}
#recommendatory li .recordingpic {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
#recommendatory li .recordingpic .length {
  position: absolute;
  top: 66px;
  right: 6px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  height: 18px;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}
#recommendatory li .content {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 92px;
  padding: 3px 5px 0px 0px;
}
#recommendatory li .content h3 {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-height: 55px;
  padding: 0;
  margin: 0;
}
#recommendatory li .content h3 a {
  display: block;
}
#recommendatory li .content h4 {
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  height: 18px;
}
#recommendatory li .content .views {
  font-size: 12px;
  color: #333;
}
#recommendatory li .content .author {
  font-weight: bold;
  margin-top: 10px;
  height: 18px;
}
.recommendatory h2 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.recommendatory ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.recommendatory li {
  display: inline-block;
  width: 470px;
  height: 95px;
  margin-bottom: 15px;
}
.recommendatory li .recordingpic {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.recommendatory li .recordingpic .length {
  position: absolute;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  height: 18px;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  top: 66px;
  right: 6px;
}
.recommendatory li .content {
  display: inline-block;
  vertical-align: top;
  width: 291px;
  height: 92px;
  padding: 3px 5px 0px 0px;
}
.recommendatory li .content h3 {
  font-size: 15px;
  font-weight: bold;
  max-height: 36px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}
.recommendatory li .content h4 {
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  height: 18px;
}
.recommendatory li .content .author {
  font-weight: bold;
  margin-top: 5px;
  height: 18px;
}
.recommendatory li .content .views {
  font-size: 12px;
  color: #333;
}
/* recordinguploader */
#metadata .recordinguploader {
  display: inline-block;
  border: 1px solid #aeaeae;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  height: 50px;
  -moz-box-shadow: 0px 1px 1px 0px #fff, inset 0px 1px 1px #fff;
  -webkit-box-shadow: 0px 1px 1px 0px #fff, inset 0px 1px 1px #fff;
  box-shadow: 0px 1px 1px 0px #fff, inset 0px 1px 1px #fff;
}
#metadata .recordinguploader .avatar {
  display: inline-block;
  margin: 6px 10px 0px 8px;
}
#metadata .recordinguploader .content {
  display: inline-block;
  vertical-align: top;
  margin: 6px 20px 0px 0px;
}
#metadata .recordinguploader .uploader {
  font-size: 17px;
  font-weight: bold;
}
/* rate widget */
#metadata .ratewidget ul, .ratewidget li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.ratewidget ul {
  margin-left: 5px;
  list-style-type: none;
}
.ratewidget a, .ratewidget a span, .recordinglist .recordinginfo .rating div, .recordinglist .recordinginfo .rating span {
  display: inline-block;
  width: 21px;
  height: 20px;
  overflow: hidden;
}
.ratewidget a span, .recordinglist .recordinginfo .rating span {
  background-image: url(images/star_empty.png);
}
.ratewidget li.full span, .recordinglist .recordinginfo .rating .full span {
  background-image: url(images/star_full.png);
}
.ratewidget .spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(images/spinner.gif);
  margin-right: 5px;
  position: relative;
  top: 3px;
  display: none;
}

/* temp live channellist */
.channellist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.channellist h2, .channellist h3 {
  overflow: hidden;
  margin: 0;
}
.channellist .listingitem h2 a {
  font-weight: bold;
  font-size: 18px;
}
.channellist .listingitem h3 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.channellist .listingitem {
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 0 1px 1px #fff;
  padding-bottom: 10px;
}
.channellist .listingitem.last {
  border-bottom: 0px;
  box-shadow: none;
}
.treeview {
  float: left;
  width: 380px;
  margin-right: 20px;
}
.channelrecordings {
  float: right;
  width: 550px;
}
.channelrecordings .recordinglist {
  width: 550px;
}
.channelrecordings .listitem {
  width: 550px;
}
.channelrecordings .recordingcontent {
  margin-left: 0px;
  width: 550px;
}
.livefeed {
  display: inline-block;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
  float: right;
  margin: -7px 0 0 0;
  padding: 0px 6px 0px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background-color: #fff;
  min-width: 1px;
  background-image: url(images/icon_mic.png);
  background-repeat: no-repeat;
  background-position: 8px 4px;
  color: #ff0000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.events .eventfeeds h2 {
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0;
}
.events .channeltree h3, .events .eventfeeds h3 {
  margin: 5px 0 0 0;
  height: 30px;
}
.events .channeltree .subtitle {
  color: #666;
  font-style: italic;
}
#streams {
  float: right;
  margin-top: 10px;
}
#streams span {
  float: left;
  margin-right: 5px;
}
#streams div {
  float: left;
  max-width: 470px;
}
#body #streams a {
  display: inline-block;
}

#qualitychooser a {
  outline: 0;
  width: 260px;
  display: inline-block;
  color: #7F8890;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #232B30;
  -pie-background: linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30));
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  background: linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  padding: 3px 10px;
  margin: 3px 0;
}
#qualitychooser a:hover {
  color: #fff;
  background: #4C5A64;
  -pie-background: linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940));
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  background: linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
}
#qualitychooser a:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  color: #fff;
  background: #20282D;
  -pie-background: linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30));
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  background: linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
  box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}

#categories_create, #categories_modify {
  width: 800px;
}

.categoryiconitem img {
  width: 35px;
  padding: 3px;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
} 

.categoryiconitem img:hover {
  border: 1px solid #d0d0d0;
  background-color: #f0f0f0
}

.categoryiconitem input[type=radio] {
  display: none;
}

.categoryiconitem input[type=radio] + label {
  height: 35px;
  display: block;
  margin: 5px;
  float: left;
}

.categoryiconitem img.selected {
  background-color: white; 
  border: 1px solid #a0a0a0;
}

/* embed */
#embed {
  display: none;
  margin: 20px 0;
  padding: 10px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#embed .settings {
  font-weight: bold;
  margin-bottom: 5px;
}
#embed textarea {
  width: 550px;
  height: 54px;
  padding: 7px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #d0d0d0;
  background-color: #f7f7f7;
}
#embed .inputtext {
  padding: 2px;
  width: 20px;
  text-align: right;
}
#embed .settingrow {
  margin: 10px 0 10px 15px;
}

/* chat */
#chat .title {
  font-size: 14px;
  font-weight: bold;
}
#chatcontainer {
  height: 250px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
#chatcontainer .name {
  font-weight: bold;
  display: inline-block;
}
#chatcontainer .actions {
  float: right;
}
#chatlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#chatlist li {
  padding: 5px 10px 5px 5px;
}
#chatlist li.self {
  background-color: #f7f7f7;
}
#chatlist .content {
  padding: 0px 5px 0px 10px;
  display: inline;
}
#chat #text {
  width: 50%;
}
#spinnercontainer {
  width: 16px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}
#spinner {
  display: none;
}