
/* vsq-player */
#player {
  position: relative;
}
#player .vsq-engine {
  width: 50%;
  height: auto;
}
#player img {
  width: 100%;
  height: 100%;
}
#player .vsq-hidden-master .vsq-master,
#player .vsq-hidden-content .vsq-content {
  display: none;
}
#player .vsq-hidden-master .vsq-content,
#player .vsq-hidden-content .vsq-master {
  width: 100%;
}
#player .vsq-engine.vsq-fullscale {
  width: 100%;
}
#player .vsq-engine.vsq-master {
  left: 0;
  right: auto;
}
#player .vsq-engine.vsq-content {
  left: auto;
  right: 0;
}
#player .vsq-contentleft .vsq-engine.vsq-master {
  left: auto;
  right: 0;
}
#player .vsq-contentleft .vsq-engine.vsq-content {
  left: 0;
  right: auto;
}
#player .vsq-quality-selector {
  margin: 5px;
  transition: 0.2s ease-in;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  bottom: 40px;
  width: 0;
  overflow: hidden;
  font-weight: bold;
  z-index: 14;
}
#player .is-mouseover .vsq-quality-selector {
  width: 4rem;
}
#player .vsq-quality-selector li {
  cursor: pointer;
  background: #fff;
}
#player .vsq-quality-selector li.vsq-active {
  background: #ccc;
}
#player .vsq-quality-selector li.vsq-current {
  background: #999;
}

#player .is-finished .fp-ui {
  background: url(images/icons/player_replay.png) center no-repeat;
}
#player .vsq-layoutchooser {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 30px;
  z-index: 13;
}
#player .is-mouseover .vsq-layoutchooser {
  display: block;
}
#player .vsq-layoutchooser input {
  width: 100%;
}
#player .vsq-layoutchooser ul {
  margin: 0;
  padding: 0;
}
#player .vsq-layoutchooser li {
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #ccc;
}
#player .vsq-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 20;
}
#player .vsq-modal .vsq-login,
#player .vsq-modal .vsq-transient,
#player .vsq-modal .vsq-question,
#player .vsq-modal .vsq-toast,
#player .vsq-modal .vsq-presence {
  display: none;
}
#player .vsq-is-login .vsq-modal,
#player .vsq-is-login .vsq-modal .vsq-login {
  display: block;
}
#player .vsq-transient-error .vsq-modal,
#player .vsq-transient-error .vsq-modal .vsq-transient {
  display: block;
}
#player .vsq-is-question .vsq-modal,
#player .vsq-is-question .vsq-modal .vsq-question {
  display: block;
}
#player .vsq-is-toast .vsq-modal,
#player .vsq-is-toast .vsq-modal .vsq-toast {
  display: inline-block;
}
#player .vsq-modal .vsq-toast {
  display: none;
  width: 150px;
  background: #fff;
  float: right;
  padding: 10px;
  font-weight: bold;
}
#player .vsq-limitedseek .fp-timeline,
#player .vsq-limitedseek .fp-buffer {
  cursor: default;
}
#player .vsq-limitedseek .fp-timeline-tooltip {
  z-index: 22;
}
#player .vsq-limitedseek .vsq-progress {
  position: absolute;
  top: 0;
  left: auto;
  height: 100%;
  cursor: col-resize;
}
#player.vsq-presencecheck .vsq-modal,
#player.vsq-presencecheck .vsq-modal .vsq-presence {
  display: block;
}
#player .vsq-modal .vsq-presence,
#player .vsq-modal .vsq-login {
  background: #fff;
}
#player .vsq-modal .vsq-presence .vsq-button-continue {
  display: none;
}
#player .vsq-modal .vsq-presence.vsq-checkfailed .vsq-button-present {
  display: none;
}
#player .vsq-modal .vsq-presence.vsq-checkfailed .vsq-button-continue {
  display: block;
}
#player .vsq-transient-error .vsq-modal .vsq-transient {
  background: #fff;
}

.flowplayer .fp-menu {
  z-index: 30;
}
