
/* 
   scheme ID: 4S21Tt3hBw0w0 
   http://colorschemedesigner.com/#4S21Tt3hBw0w0
*/

/* BASICS */

pre { 
  margin: 0; 
}

.clear {
  clear:  both;
  line-height: 0px;
  display: block;
}

img { border: 0; }

h1 { 
  font-family: Arial; 
  font-size: 14pt; 
  font-weight: bold; 
  color: white; 
  border-bottom: 1px solid white;
  margin: 0;
}

body {
  padding: 0; margin: 0;
  font-family: Trebuchet MS;
  color: black;
  font-size: 10pt;
}

th, td { font-size: 10pt; vertical-align: top; }
th { text-align: left; }

a { color: black; }

div.p, p {
  margin: 15px 15px 15px 40px; 
  background-color: #e0e0e0; 
  padding: 5px;
}

.icon {
  background-color: #B7C462;
  margin: 0 5px 0 2px;
  text-align: middle;
}

/* NAVIGATION */

#navigation {
  background-image: url(../images/bottomline.png);
  background-position: 0 bottom;
  background-repeat: repeat-x;
  background-color: #5D6621;
  vertical-align: center;
  margin: 0 0 15px 0;
  display: block;
  float: left;
  position: relative;
  clear: both;
  width: 100%;
  padding: 10px 10px 10px 40px;
  _padding: 10px 10px 15px 40px;
}

#navigation img {
  vertical-align: middle;
}

#navigation ul {
  display: block;
  float: left;
}

#navigation li {
  list-style-type: none;
  display:  block;
  float:    left;
  margin:   0 10px 5px 0;
  min-width:    150px;
}

#navigation a {
  color:      white;
  padding:    1px 0px 1px 0px;
  float: left;
  text-align: center;
  background-color: #4E5904;
  display:    block;
  min-width:  150px;
  _width:  150px;
}

#navigation a.active {
  background-color: white;
  color: #520A5C;
  text-decoration: none;
}

#navigation a:HOVER {
  background-color: #BBD129;
  color: #520A5C;
}

#navigation a:HOVER img {
  background-color: #4E5904;
}

/* PAGER */

td.pager {
  padding: 3px;
  background-color: #e0e0e0;
  background-image: url(../images/rowbackground.png);
  background-position: 0 -10px;
}

td.pager form         { display: block; padding: 0 0 0 10px; margin: 0; }
td.pager td           { font-size: 12px; font-family: Arial, sans-serif; }
td.pager td.pagercell { padding-right: 20px; text-align: center; }

td.pager input, td.pager select {
  font-size: 12px;
  padding: 1px 2px 1px 2px;
  margin: 0;
  font-family: Arial, sans-serif;
}
td.pager td {
  vertical-align: middle;
}

/* LISTCONTAINER */

div#listcontainer {
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}

div#listcontainer table {
  border: 0; 
}

div#listcontainer table td {
  empty-cells: show;
}

div#listcontainer table.frame {
  width: 100%;
}

div#listcontainer .listing {
  background-color: #b3df87;
}

div#listcontainer .listing th {
  background-color: #444444;
  border: none;
  color: white;
  font-size: 10pt;
  border-right:  1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

div#listcontainer .listing tr:HOVER td { 
  background-image: url(../images/rowbackground_hover.png);
}

div#listcontainer .listing th a       { color: white; }
div#listcontainer .listing th a:HOVER { color: white; }

div#listcontainer .listing td {
  font-size: 10pt;
  border: 0; 
  background-color: #e3ffa7;
  background-image: url(../images/rowbackground.png);
  padding: 4px 12px 4px 12px;
  border-right: 1px solid #d0d0f0;
  border-bottom: 1px solid #d0d0f0;
}

div#listcontainer .tree td {
  border: none;
}

.button, div#listcontainer input.modify { 
  background-color: #A358AE;
  color: white;
  border: 1px solid #3F1745;
}

div#listcontainer input.delete { 
  background-color: #A358AE;
  color: white;
  border: 1px solid #3F1745;
}

div#listcontainer input.deletecheckbox { 
  margin-left: 2px;
}

/* FOOTER */
div#footer {
  background-color: #e0e0e0;
  padding: 2px;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 11pt;
}

div#footer a {
  text-decoration: none;
}

/* FORM */
form {
  margin: 0px 10px 10px 30px;
}

.button, div#listcontainer .listing input, div#listcontainer .listing select {
  background-image: url(../images/background-form-element.png);
  background-repeat: repeat-x;
}

legend {
  font-family: Trebuchet MS; 
  font-size: 12pt;
  font-weight: bold;
  padding: 0 20px 0 20px;
  color: white;
  background-color: #520A5C;
  margin: 0;
  top: -10px;
  left: 1em;
  _position: absolute;
}

fieldset {
  position: relative;
  clear: both;
  margin: 15px 15px 15px 15px;
  _margin: 35px 15px 15px 15px;
  border: 2px solid #79890D;
  background-color: white;
  background-image: url(../images/panel.jpg);
  background-repeat: repeat-x;
  padding: 20px 10px 5px 4px;
}

form label {
  font-size: 10pt;
}

input.submit {
  border: 3px double #999999;
  border-top-color: #CCCCCC;
  border-left-color: #CCCCCC;
  padding: 0.25em;
  width: 100px;
  background-color: #fefefe;
  background-repeat: repeat-x;
  background-image: url(../images/background_form_elementcount.gif);
  border: 4px double;
  border-color: #c4cccc #acb5b5 #6f7777 #acb5b5;
  color: #333333;
  font-weight: bold;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.currentpage { padding: 3px; background-color: #a0a0a0; color: white; }

table.tabular {
  border-collapse: collapse;
  width: 100%;
}

table.tabular td {
  border:  1px solid #202020;
  padding: 4px;
}

table caption {
  font-size: 14px;
  background-color: #f0f0f0;
  font-family: Trebuchet MS, Verdana, Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 3px 0 3px 0;
}

table.tdup td {
  vertical-align: top;
}

/* HEADER */
div#CMSheader { 
  background-color: #520A5C; 
  padding: 10px 20px 10px 40px;
  margin: 0;
  color: white;
}

div#CMSheader a {
  color: #d0d0d0;
} 

div#CMSheader #CMStitle {
  color: #d0d0d0;
  font-size: 14px;
  width: 190px;
  margin: 0;
  float: left;
  height: 40px;
}

div#CMSheader #CMStitle a {
  text-decoration: none;
}

div#CMSheader .box {
  height: 40px;
  float: left;
  margin: 0;
  text-align: right;
}

div#CMSheader div#CMScontrols {
  width: 240px;
  margin: 0 0 0 40px;
}

div#CMSheader .control {
  text-align: center;
  float: left;
  margin-left: 15px;
  width: 55px;
  height: 40px;
  font-size: 10px;
} 

div#CMSheader .control a {
  outline: none;
}

div#CMSheader .control img {
  height: 26px;
}

div#CMSheader div#CMSdate {
  width: 180px;
  margin: 0;
  font-size: 12px;
  float: right;
}

div#CMSheader span#CMSclock {
  font-size: 20px;
  font-family: Bookman Old Style; 
  font-weight: 0;
}

div#CMSheader div#CMSuser {
  width: 220px;
  float: right;
}

/* SIDEBAR */

#sideBar {
  text-align:left;
  position: absolute;
  width: 240px;
  top: 10px;
  left: -200px;
  background-image:url(../images/background-left.gif);
  background-position: -100px 0;
  background-repeat: repeat-y;
}

#sideBar a {
  outline: none;
}

#sideBarTab{
  float:left;
  height:137px;
  width:28px;
}

#sideBarTab img{
  border:0px solid #FFFFFF;
}

#sideBar h2{
  color:#FFFFFF;
  font-size: 15px;
  font-family: Trebuchet MS, Arial;
  margin:10px 10px 0px 10px;
  font-weight: bold;
  display: block;
  width: 100px;
  height: 25px;
  overflow: hidden;
}

#sideBar h2 span {
  display: block;
  width: 100px;
  height: 25px;
  background-image: url(../images/springboard.gif);
  background-repeat: no-repeat;
}

#sideBar ul{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  width: 177px;
}

#sideBar ul li ul li {
  width: 167px;
}

#sideBar li{
  margin:0px 0px 0px 10px;
  list-style-type:none;
  display:block;
  width: 177px;
}

#sideBar li a{
  width: 100%;
  margin: 0 0 1px 0;
  padding: 1px 2px 1px 2px;
  color:#FFFFFF;
  background-color: #9F3AAE;
  display: block;
  color: white;
  text-decoration: none;
}

#sideBar li a:hover, #sideBar li a.active {
  color: #9F3AAE;
  background-color: white;
  text-decoration: none;
}

#sideBarContents{
  float:left;
  width:200px;
  padding: 0 0 10px 0;
}

#sideBarContentsInner{
  width:200px;
}

#CMScopyright {
  margin-top: 5px;
  text-align: center;
  color: white;
}
#CMScopyright a {
  color: white;
  text-decoration: none;
}

div#largeicons.p {
  width: 920px;
  padding: 15px 10px 10px 15px;
  display: block;
  float: left;
}

#largeicons a {
  display: block;
  width: 131px;
  float: left;
  padding: 5px;      
  height: 40px;
  margin: 0 10px 10px 0;
  background-color: #d0d0d0;
  border: 1px solid #b0b0b0;
  vertical-align: middle;
}

#largeicons img {
  margin-right: 10px;
  float: left;
  vertical-align: center;
}

#largeicons a:hover {
  background-color: white;
}
textarea { width: 657px; height: 160px; }

div.info {
  background-image: url(../images/info_mini.gif);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding: 5px 5px 5px 25px;
  border: 1px solid #a0a0a0;
  background-color: #c0c0c0;
}

a.fancybox {
  padding: 3px 10px 3px 10px;
  background-color: white;
  border: 1px solid #a0a0a0;
  margin: 2px 5px 2px 0;
  text-decoration: none;
  white-space: nowrap;
}

a.fancybox:hover {
  background-color: #A358AE;
  color: white;
}

small,
.small,
div#listcontainer .listing td.small,
div#listcontainer .listing td .small { 
  font-size: 12px; 
}

.red {
  color: red;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}

#success {
  padding-left: 40px;
  font-size: 16px;
}

span.info {
  padding-left: 40px;
  font-size: 12px;
}

.w200 {
  width: 200px;
}

.w30 {
  width: 30px;
}

.rightalign {
  text-align: right;
}

form fieldset input[type=text], form fieldset textarea {
  width: 500px;
}
form fieldset select[multiple=multiple] {
  height: 200px;
}
form input[type=text].localefield, form textarea.localefield {
  width: 700px;
}
form textarea.localefield {
  height: 80px;
}
