<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType text/css                       "access plus 1 month"
ExpiresByType text/javascript                "access plus 1 month"
ExpiresByType application/x-javascript       "access plus 1 month"
ExpiresByType image/jpeg                     "access plus 1 month"
ExpiresByType image/gif                      "access plus 1 month"
ExpiresByType image/png                      "access plus 1 month"
ExpiresByType image/png                      "access plus 1 month"
ExpiresByType application/x-shockwave-flash  "access plus 1 month"
ExpiresByType application/xml                "access plus 1 month"
</IfModule>

ErrorDocument 404 /index.php?module=contents&action=http404
RewriteEngine On

<IfModule mod_ssl.c>
# HTTPS FORCE
RewriteCond %{HTTPS} off
RewriteCond %{THE_REQUEST} !checkstreamaccess
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]
Header set Strict-Transport-Security "max-age=86400"
</IfModule>

# tag urls not needing authetication
RewriteRule ^/[a-z]{2,4}/contents - [E=no_auth_required:1]
RewriteRule ^/[a-z]{2,4}/combine - [E=no_auth_required:1]
RewriteRule ^/([a-z]{2,4}/)?(recordings|live)/(secure)?checkstreamaccess - [E=no_auth_required:1]

# actual rewrites
RewriteRule ^([a-z]{2,4})/live/view/([0-9]+),([0-9]+),?(.*)$ index.php?module=live&action=view&id=$2&streamid=$3&name=$4&language=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/users/(changepassword|validate.*)/(.+),(.+)$ index.php?language=$1&module=users&action=$2&a=$3&b=$4 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)module(.*)$
RewriteRule ^([a-z]{2})/api/?$ index.php?language=$1&module=api&%1_module%2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/?$ index.php?language=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/([a-zA-Z0-9_\-]+)/?$ index.php?language=$1&module=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ index.php?language=$1&module=$2&action=$3 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([0-9]+) index.php?language=$1&module=$2&action=$3&id=$4 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z]{2})/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+) index.php?language=$1&module=$2&action=$3&subaction=$4 [L,QSA]

# language auto-detect

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)module(.*)$
RewriteRule ^api/?$ index.php?module=api&%1_module%2  [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^jsonapi/?$ index.php?module=jsonapi  [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/?$ index.php?module=$1&action=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([0-9]+) index.php?module=$1&action=$2&id=$3 [L,QSA]

# versioning
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)_v[0-9]+(.+)$ $1$2 [L,NS,QSA]
