# ExpiresActive On
# ExpiresDefault "access plus 1 month"
# FileETag MTime

<IfModule mod_xsendfile.c>
XSendFile on
</IfModule>

RewriteEngine On
# verziokezeles
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)_v[0-9]+(.+)$ $1$2 [L,NS,QSA]

RewriteRule ^files/(.+)$ handlefile.php?file=$1 [L,NS,QSA]
